@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500&display=swap" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; //un rem es equivalente a 10px//
    font-family:'DM Sans', sans-serif;
}

ul{
    list-style-type: none; //quita los puntitos de la lista
}
a{
    text-decoration: none; //quita el subrayado
}

