main {
    width: 100%;
    height: auto;
    background-color: $off-white;
    // background-color: aquamarine;

    .main-exchange-container {
        
        width: 100%;
        height: auto;
        padding: 80px 0 30px;
        text-align: center;

        .main-exchange-container--title {
            // background-color: azure;
            width: 90%;
            min-width: 288px;
            max-width: 900px;
            margin: 0 auto;

            h2{
                margin-bottom: 30px;
                font-size: 2.4rem;
                font-weight:bold;
                line-height: 2.6rem;
                color:$black;

            }
            p{
                margin-bottom: 30px;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.6rem;
                color: #757575;
            }
        }

        .backgroundImg {
            width:200px;
            height: 200px;
            // background-color: antiquewhite;
            margin:0 auto;
            margin-bottom: 50px;
            // background-image: url(../../assets/imgs/Bitcoin.svg);
            background-image: url('/assets/imgs/Bitcoin.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

    }
}