@mixin texto($fontS,$fontW,$lineH) {
    font-size: $fontS;
    font-weight:$fontW ;
    line-height:$lineH ;
}

@mixin imageDownUp {
    display: inline-block;
    width: 15px;
    height: 15px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}

@mixin iconosCard {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

@mixin widthHeightMarg($widt,$minWidt,$maxWidt,$heigh,$marg) {
    width: $widt;
    min-width: $minWidt;
    max-width: $maxWidt;
    height: $heigh;
    margin: $marg;
}
